/* Colors
Dark Grey - #45454D
Hot Pink - #ff4893
Light Pink - #ffd5d5
Cream - #fff1e9
light light grey - #fafafa;
slightly darker light grey = #f2f2f2;
section title grey - #777
*/


* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  position: relative;
}
.main-container {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "header" 
  "header"
  "nav"
  "main"
}

header {
  grid-area: header;
  background: #ff4893;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

header h1 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: 0;
  flex: 1 100%;  
}

header h1 span:first-of-type {
  font-family: 'Dancing Script', cursive;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: .2rem;
  color: #fff;
}

header h1 span:nth-of-type(2) {
  color: #45454d;
  font-size: 1.05rem;
}



header svg {
  width: 40px;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #fff; 
  /* transition: fill 5s; */
  
}

header svg:hover {
  animation: shake .2s, pulse 1s;
  animation-iteration-count: infinite;
  border-right: 1px solid transparent;
  cursor: pointer;
}

header svg .path {
  transition: fill 1s;
}

header svg:hover .path {
  fill: #777;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}



header img {
  border-radius: 50%;
  width: 85%;
  padding: 10px;
}

header .profile_img {
  width: 75px;
}

header h3 {
  padding-right: 20px;
  font-size: 1rem;
}

nav {
  grid-area: nav;
  background: #45454d;
  /* color: white; */
}



nav svg {
  display: block;
  width: 40%;
  margin: 0 auto;
  
}

nav svg:hover {
  cursor: pointer;
}

nav svg .path {
  fill: #aaa;
}
nav a {
  display: inline-block;
  width: 22%;
  margin-right: 2.7%;
  height: auto;
  border-radius: 5px;
  padding-bottom: 15px;
  border-bottom: 5px transparent solid;
  transition: all .5s;
}

nav a:last-of-type {
  margin-right: 0;
}

nav a:first-of-type {
  margin-top: 25px;
}

nav a.active svg .path {
  fill: #fff;  
}

nav a.active {
  border-bottom: 5px white solid;
}

main {
  grid-area: main;
  background: #fafafa;
  margin-bottom: 25px;
  display: grid;
  grid-template-areas: 
  "tab"
  "search"
  "alert"
  "traffic"
  "daily"
  "mobile"
  "social"
  "sales"
  "review"
  "message"
  "settings"
}

.tab {
  grid-area: tab;
  text-align: center;
  color: #45454d
}

.search {
  grid-area: search;
  border-left: 1px #cacaca solid;
  border-bottom: 1px #cacaca solid;
}

.search input {
  width: 300px;
  height: 50%;
  display: block;
  margin: 0 auto 5px;
  border-radius: 5px;
  padding: 5px 5px 5px 10px;
  font-size: 1rem;
}

.alert {
  grid-area: alert;
  width: 100%;
  /* margin: 15px auto 0; */
  /* background: green; */
  color: #eee;
}

.alert div {
  width: 90%; 
  margin: 10px auto 0;
  background: #ffd5d5;
  border-radius: 5px;
}

.alert p {
  color: #45454d;
  font-size: .9em;
  padding: 9px 20px;
}

.alert span {
  color: #777;
  font-size: 1em;
  padding-right: 10px;
}

.alert span:last-of-type {
  float: right;
}

.alert .close {
  cursor: pointer;
}

.main-chart {
  grid-area: traffic;
padding: 20px;

}

h5 {
  color: #777;
}

.main-chart h5 {
  font-size: 1.15rem;
  color: #777;
  display: inline-block;
  margin: 10px 0 10px 10px;
  width: 100%;
}

.main-chart nav {
  /* float: right; */
  background: #fafafa;
  /* margin-right: 25px; */
  display: inline-block;
  margin-left: auto;
}

.main-chart ul {
  padding: 0;
}

.main-chart li {
  text-decoration: none;
  display: inline-block;
  color: #777;
  margin: 0 1px;  
  padding: 3px 10px;  
  border-radius: 15px;
  transition: all .5s ease-in-out;
}

.main-chart li.active {
  background: #ff4893;
  color: #fafafa;
}

.main-chart li:hover {
  cursor: pointer;
}



.daily-chart {
  grid-area: daily;
  border-top: 1px #ccc solid;  
  border-bottom: 1px #ccc solid;
  padding: 10px;
}


.mobile-chart {
  grid-area: mobile;
  padding: 10px;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;

}

.social {
  grid-area: social;
  
}

.twitter {
  grid-area: twitter;
}

.facebook {
  grid-area: facebook;
}

.google {
  grid-area: google;
}


.cards {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.social-card:hover {
  box-shadow: 1px 1px 4px 4px grey;
}

.social-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  border-radius: 5px;
  flex-wrap: wrap;
  flex: 1 33%;
  transition: .4s;
  background: #ffd5d5;
  display: flex;
  align-items: center;
  padding: 5px;
}
.social-card .social-img {
  background: dimgray;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twt, .ggl, .fb {
  fill: white;
  font-size: 1rem;
}
.social-card svg {
  display: inline-block;
  margin: auto;
}



.social-card h4 {
  font-size: .9rem;
  margin: 0;
}

.social-card h2 {
  margin: 0;
}

.recent-sales, 
.recent-reviews,
.message-customer,
.settings {
  grid-area: sales;
  display: flex;
  flex-direction: column;
  border: 1px lightgray solid;
  border-left: none;
  padding: 20px;
}



.recent-reviews {
  border-right: none;
  margin-left: 0;
}

.recent-sales h5,
.recent-reviews h5 {
  margin: 0;
  margin-bottom: 8px;
}

.sales,
.reviews {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  /* margin-left: 15px; */
  border-bottom: 1px rgb(225, 225, 225) solid;
  transition: .4s;
}

.sales:hover, 
.reviews:hover {
  background: #fff1e9
}



.sales:last-child,
.reviews:last-child {
  border-bottom: none;
}

.sales div:first-child,
.reviews div:first-child {
  width: 10%;
  margin-right: 20px;
}

.sales div:last-child,
.reviews div:last-child {
  margin-left: auto;
  margin-right: 20px;
}

.reviews div:last-child {
  font-size: 1.75rem;
  color: gray;
}

.sales img,
.reviews img {
  width: 100%;
  border-radius: 50%;
}



.sales div h4,
.reviews div h4 {
  font-size: 1rem;
  margin: 0;
}

.sales div h5,
.reviews div h5 {
  font-size: .9rem;
  color: #777;
  margin: 0;
}

.reviews div h5 {
  color: dimgrey;
}

.recent-reviews {
  grid-area: review;
}

.message-customer {
  grid-area: message;
  border-right: 1px lightgrey solid;
}

.settings {
  grid-area: settings;
}

form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 15px;
  padding-top: 0;
}

button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: #eee;
  font-weight: bold;
  width: 100%;
  background: #ff4893;
}

.settings button {
  width: 48%;  
}

.settings button:first-of-type {
  margin-right: 4%;
}

form input, 
form textarea {
  border-radius: 5px;
  border: 1px rgb(215,215,215) solid;
  padding: 8px;
  width: 100%;
  margin: 8px 0;
  background: rgb(240,240,240);
}

form textarea {
  
  height: 10vh;
}

.recent-sales, 
.message-customer,
.settings {
  border-right: none;
}



.switch-div {
  width: 100%;
  margin: 12px;
  color: #777;
}

.switch-div label:first-child {
  width: 100%;
  padding-bottom: 8px;
  display: inline-block;
}

.switch-div span {
  padding: 5px;
  padding-left: 8px;
  font-size: .75rem;
  color: #eee;
}

.switch-div span span {
  color: #ff4893;
}



input, textarea, select, button {
  outline: none;
  transition: .4s;
}

input:hover, textarea:hover, select:hover, button:hover,
input:focus, textarea:focus, select:focus, button:focus {
  box-shadow: 1px 1px 4px 2px #777;
}

button:active {
  background: #ff4894a2;
}

select {
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  background: rgb(240,240,240);
  outline: none;
}

select option:checked {
  box-shadow: 0 0 10px 100px green !important;
}

input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder {
  color: red;
}

.message-customer form {
  position: relative;
}

.autocomplete {
  position: absolute;
  bottom: 100%;
  width: 80%;
  background: #fff1e9;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
}

.autocomplete.active {
  visibility: visible;
  opacity: 1;
}

.autocomplete ul {
  padding-left: 3px;
  text-align: center;
}

.autocomplete li {
  list-style: none;
  margin: 0 auto;
  border-bottom: 1px #777 solid; 
  padding: 7px; 
  transition: .3s;
}

.autocomplete li:last-of-type {
  border-bottom: none;
}

.autocomplete li:hover {
  background: #777;
  color: white;
}







/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: #ff4893;
}

input:not(:checked) +.slider {
  color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/******
 MODAL
******/


.modal {
  z-index: 1000;
  background: rgba(100, 100, 100, .8);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal .close {
  width: 100%;
  cursor: pointer;
}

.modal .close span {
  float: right;
  padding: 5px;

}

.modal-content {
  width: 90%;
  background: #fff1e9;
  border-radius: 5px;
  position: fixed;
  top: 10%;
  left: 5%;
  text-align: center;
}

.modal .bell-alert {
  /* border-bottom: 1px black solid; */
  text-decoration: underline;
}




/**************
 MEDIA QUERIES
**************/

@media (min-width: 768px) {
  .main-container {
    grid-template-columns: 80px 1fr;
    grid-template-rows: 85px 1fr;
    grid-template-areas: 
    "header header"
    "nav main"
  }

  header {
    flex-wrap: none;
  }
  
  header h1 {
    flex: none;
    margin-left: 20px;
  }
  
  header svg {  
  margin-left: auto; 
  }
  nav svg {
    width: 50%;    
  }  

   nav a {
    width: 100%;
    margin-right: 0;
    border-bottom: none;
    border-left: 5px transparent solid;
    padding-top: 15px;  
    margin-bottom:  25px;
  }

  nav a:last-of-type {
    margin-right: 0;
  } 
  
  nav a.active {
  border-left: 5px white solid;
  border-bottom: none;
}

main {
   grid-template-columns:  repeat(6, minmax(150px, 1fr));
  grid-template-rows: 60px auto min(200px, auto);
  grid-template-areas: 
  "tab search search search search search"
  "alert alert alert alert alert alert"
  "traffic traffic traffic traffic traffic traffic"
  "daily daily daily mobile mobile mobile"
  "social social social social social social"
  "sales sales sales review review review"
  "message message message settings settings settings";
}
 
.search {
  display: flex;
  align-items: center;
  border-bottom-left-radius: 5px;
  
  background: #f2f2f2;
}

.search input {
  display: inline-block;
  margin-left: auto;
  margin-right: 20px;
}

/* .main-chart nav {
  margin-right: 25px;
} */

/* .main-chart h5 {

} */

.main-chart nav  {
  float: right;
  margin-right: 25px;
}



.main-chart li {
  margin: 0 12px;
}

.social-card .stats {
  margin-left: 18px;
}

.social-card {
  flex-direction: row;
  padding: 10px;
}

.daily-chart {
  border-right: 1px #ccc solid;
}

.recent-sales, 
.message-customer,
.settings {
  border-right: 1px lightgrey solid;
}
.switch-div label:first-child {
  width: 55%;
  padding-bottom: 0;
  display: inline-block;
}

.modal-content {
  width: 500px;
  left: calc(50% - 250px);
}
}

@media (min-width: 1024px) {
  .main-chart {
    width: 1024px;
    margin: 0 auto;
  }

 
  

}



@media (min-width: 1200px ) {
  .social-card .stats {
    width: 60%;
  }
  .social-card .stats h4,
  .social-card .stats h2{
    display: inline-block;
    width: fit-content;
  }

  .social-card .stats h4 {
    
    font-size: 1.1rem;
    width: fit-content;
  }
  .social-card .stats h2 {
    float: right;
  }
  /* .social-card .stats h4 {
    margin-left: 15%;
    font-size: 1.5rem;
  } */
}

@media (min-width: 1500px) {
  .social-card .stats h4 {
    margin-left: 15%;
    font-size: 1.5rem;
  }
}











